<a href="https://colab.research.google.com/github/Monideepa28/Python-programming-pactices/blob/main/11_09_2022Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Some challenges***

# 1.Ask the user to enter their first name and then display the length of their name.

In [ ]:
fn=input("Enter your first name:")
print(fn)
print(len(fn))

Enter your first name:Monideepa
Monideepa
9

# 2.Ask the user to enter their first name and then ask them to enter their surname. Join them together with a space between and display the name and the length of whole name.

In [ ]:
fn=input("Enter your first name:")
sn=input("Enter your surname:")
print(fn+" "+sn)
name=(fn+" "+sn)
print(len(name))

Enter your first name:Monnideepa
Enter your surname:Saha
Monnideepa Saha
15

# 3.Ask the user to enter their first name and surname in lower case. Change the case to title case and join them together.Display the finished result.

monideepa--lower() ; 
MONIDEEPA-upper() ;
Monideepa---title()

In [ ]:
fn=input("Enter your first name:")
sn=input("Enter your surname:")
fn=fn.title()
sn=sn.title()
name=fn+" "+sn
print(name)

Enter your first name:MONIDEEPA
Enter your surname:saha
Monideepa Saha

# 4.Ask the user to type in the first line of a nursery rhyme and display the length of the string. Ask for a starting number and an ending number and then display just that section of the text (remember Python starts counting from 0 and not 1).

In [ ]:
rh=input("the first line of a nursery rhyme:")
print(len(rh))
n1=int(input("Starting number:"))
n2=int(input("Ending number:"))
part=rh[n1:n2]
print(part)

the first line of a nursery rhyme:Twinkle twinkle little star
27
Starting number:15
Ending number:27
 little star

# 5.  Ask the user to type in any word and display it in upper case.

In [ ]:
word=input("Enter the any word:")
print(word.upper())

Enter the any word:monideepa
MONIDEEPA

# 6.Ask the user to enter their first name. If the length of their first name is under five characters, ask them to enter their surname and join them together (without a space) and display the name in upper case. If the length of the first name is five or more characters, display their first name in lower case.

In [ ]:
fn=input("Enter the first name: ")
length=len(fn)
if(length<5):
 sn=input("Enter the surname: ")
 name=(fn+sn)
 print(name.upper())
else:
  print(fn.lower())

Enter the first name: moon
Enter the surname: Saha
MOONSAHA

In [ ]:
fn=input("Enter the first name: ")
length=len(fn)
if(length<5):
 sn=input("Enter the surname: ")
 name=(fn+sn)
 print(name.upper())
else:
  print(fn.lower())

Enter the first name: Monideepa
monideepa

# 7.Pig Latin takes the first consonant of a word,moves it to the end of the word and adds on an "ay". If a word begins with a vowel you just add "way" to the end. For example, pig becomes igpay, banana becomes ananabay, and aadvark becomes aadvarkway. Create a program that will ask the user to enter a word and change it into Pig Latin. Make sure the new word is displayed in lower case.

In [ ]:
word=input("Enter a word:")
fc=word[0]
print(fc)
rest=word[1:len(word)]
print(rest)
vw=('A' or 'a' or 'E' or 'e' or 'I' or 'i' or 'O' or 'o' or 'U' or 'u')
if(fc!=vw):
  newword=rest+fc+'ay'
  print(newword)
else:
  newword1=word+'way'
  print(newword1)

Enter a word:Ani
A
ni
Aniway

In [ ]:
word=input("Enter a word:")
fc=word[0]
print(fc)
rest=word[1:len(word)]
print(rest)
vw=('A' or 'a' or 'E' or 'e' or 'I' or 'i' or 'O' or 'o' or 'U' or 'u')
if(fc!=vw):
  newword=rest+fc+'ay'
  print(newword)
else:
  newword1=word+'way'
  print(newword1)

Enter a word:Monideepa
M
onideepa
onideepaMay

# 8.Ask the user to enter a number with lots of decimal places. Multiply this number by two and display the answer.

In [ ]:
num=float(input("Enter the float number:"))
print(num*2)

Enter the float number:4.7685
9.537

# 9.Update program 27 so that it will display the answer to two decimal places.

In [ ]:
num=float(input("Enter the float number:"))
print(num*2)
print(round(num*2,2))

Enter the float number:34.879005
69.75801
69.76

# 10.Ask the user to enter an integer that is over 500. Work out the square root of that number and display it to two decimal places.

In [ ]:
import math
num=int(input("Enter an integer no: "))
if(num>500):
  sroot=math.sqrt(num)
  print(sroot)
  print(round(sroot,2))
else:
  print("Please enter the number greater than 500")

Enter an integer no: 524
22.891046284519195
22.89

# 11.Display pi (π) to five decimal places.

In [ ]:
import math
print(math.pi)
print(round(math.pi,5))

3.141592653589793
3.14159

# 12.Ask the user to enter the radius of a circle (measurement from the centre point to the edge). Work out the area of the circle (π*radius^2).

In [4]:
import math
radius=int(input("Enter the redius of circle : "))
area= math.pi*(radius**2)
print(area)

Enter the redius of circle : 3
28.274333882308138

# 13. Ask for the radius and the depth of a cylinder and work out the total volume (circle area*depth) rounded to three decimal places.

In [7]:
import math
radius=int(input("Enter the redius of circle : "))
depth=int(input("Enter the depth of cicle :"))
area= math.pi*(radius**2)
volume=area*depth
print(round(volume,3))

Enter the redius of circle : 3
Enter the depth of cicle :2
56.549

# 14. Ask the user to enter two numbers.Use whole number division to divide the first number by the second and also work out the remainder and display the answer in a user-friendly way (e.g. if they enter 7 and 2 display "7 divided by 2 is 3 with 1 remaining").

In [12]:
fn=int(input("Enter a no:"))
sn=int(input("Again enter a no:"))
quotient= fn//sn
remainder=fn%sn
print(fn,"divided by",sn,"is",quotient,"with",remainder,"remaining")

Enter a no:7
Again enter a no:2
7 divided by 2 is 3 with 1 remaining

# 15. Display the following message: 
#  1) Square
#	 2) triangle
#	Enter a number: 
#	  If the user enters 1, then it should ask them for the length of one of its sides and display the area. If they select 2, it should ask for the base and height of the triangle and display the area. If they type in anything else, it should give them a suitable error message.

In [14]:
print("1) Square")
print("2) Triangle")
print()
selection=int(input("Enter a number:"))
if(selection==1):
  side=int(input("Enter the side of the Square:"))
  area=side**2
  print("The area of the square is: ", area)

elif(selection==2):
  base=int(input("Enter the base of the triangle:"))
  height=int(input("Enter the height of the triangle:"))
  area=0.5*base*height 
  print("The area of the Triangle is: ",area)

else:
  print("it is a wrong number")

1) Square
2) Triangle

Enter a number:2
Enter the base of the triangle:12
Enter the height of the triangle:2
The area of the Triangle is:  12.0

# 16. Ask the user to enter their name and then display their name three times.

In [15]:
name=input("Enter your name:")
print(name*3)

Enter your name:Monideepa
MonideepaMonideepaMonideepa

# 17. Alter program 035 so that it will ask the user to enter their name and a number and then display their name that number of times.

In [17]:
name=input("Enter your name:")
num=int(input("Enter the number:"))
print(name*num)

Enter your name:Monideepa
Enter the number:12
MonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepa

# 18.Ask the user to enter their name and display each letter in their name on a separate line.

In [18]:
name=input("Enter your name:")
for i in range(len(name)):
  print(name[i])

Enter your name:Monideepa Saha
M
o
n
i
d
e
e
p
a

S
a
h
a

# 19.Change program 18 to also ask for a number. Display their name (one letter at a time on each line) and repeat this for the number of times they entered.

In [19]:
name=input("Enter your name:")
for i in range(len(name)):
  print(i ,'\t',name[i])

Enter your name:Monideepa
0 	 M
1 	 o
2 	 n
3 	 i
4 	 d
5 	 e
6 	 e
7 	 p
8 	 a

# 20.Ask the user to enter a number between 1 and 12 and then display the times table for that number.

In [20]:
num=int(input("Enter the number:"))
if(num>1 and num<12):
  for i in range(1,11):
    print(num,'X',i,"=",num*i)
else:
  print("Not in the range")

Enter the number:11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [22]:
num=int(input("Enter the number:"))
if(num>1 and num<12):
  for i in range(1,11):
    print(num,'X',i,"=",num*i)
else:
  print("Not in the range")

Enter the number:12
Not in the range

# 21.Ask for a number below 50 and then count down from 50 to that number, making sure you show the number they entered in the output.

In [25]:
num=int(input("Enter the number below 50:"))
for num in reversed(range(num,50)):
  print(num)

Enter the number below 50:20
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20

# 22.Ask the user to enter their name and a number. If the number is less than 10, then display their name that number of times; otherwise display the message "Too high" three times.

In [27]:
name=input("Enter your name: ")
num=int(input("Enter the number: "))
if(num<10):
  print(name*num)
else:
  print("Too high"*3)

Enter your name: Monideepa
Enter the number: 8
MonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepaMonideepa

In [28]:
name=input("Enter your name: ")
num=int(input("Enter the number: "))
if(num<10):
  print(name*num)
else:
  print("Too high"*3)

Enter your name: Monideepa
Enter the number: 11
Too highToo highToo high

# 23.Set a variable called total to 0. Ask the user to enter five numbers and after each input ask them if they want that number included. If they do, then add the number to the total. If they do not want it included,don’t add it to the total. After they have entered all five numbers, display the total.

In [49]:
num=int(input("enter 1st no : "))
num1=int(input("enter 2nd no : "))
numt=num+num1
print(numt)
qus=input("Do you want enter any no:")
if qus =='yes' :
  num2=int(input("enter 3rd no : "))
  add=numt+num2
  print(add)
else:
  print(numt)

qus1=input("Do you want enter any no:")
if qus1 =='yes' :
  num3=int(input("enter 4th no : "))
  addt=add+num3
  print(addt)
else:
  print(add)

qus2=input("Do you want enter any no:")
if qus2=='yes' :
  num4=int(input("enter 5th no : "))
  total=addt+num4
  print("Total of five no is",total)
else:
  print(addt)

enter 1st no : 2
enter 2nd no : 1
3
Do you want enter any no:yes
enter 3rd no : 2
5
Do you want enter any no:yes
enter 4th no : 2
7
Do you want enter any no:yes
enter 5th no : 3
Total of five no is 10

# 24.Ask which direction the user wants to count (up or down). If they select up, then ask them for the top number and then count from 1 to that number. If they select down, ask them to enter a number below 20 and then count down from 20 to that number. If they entered something other than up or down, display the message "I don’t understand".

In [45]:
dirc=input("Enter the direction which is want up or down?")
if dirc=='up':
  top=int(input("Enter the top no:"))
  for top in range(1,top):
    print(top)
elif dirc =='down':
  num=int(input("Enter the no below 20:"))
  for num in reversed(range(num,20)):
    print(num)
else:
  print("I don’t understand")

Enter the direction which is want up or down?down
Enter the no below 20:10
19
18
17
16
15
14
13
12
11
10

In [44]:
dirc=input("Enter the direction which is want up or down?")
if dirc=='up':
  top=int(input("Enter the top no:"))
  for top in range(1,top):
    print(top)
elif dirc =='down':
  num=int(input("Enter the no below 20:"))
  for num in reversed(range(num,20)):
    print(num)
else:
  print("I don’t understand")

Enter the direction which is want up or down?up
Enter the top no:25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [46]:
dirc=input("Enter the direction which is want up or down?")
if dirc=='up':
  top=int(input("Enter the top no:"))
  for top in range(1,top):
    print(top)
elif dirc =='down':
  num=int(input("Enter the no below 20:"))
  for num in reversed(range(num,20)):
    print(num)
else:
  print("I don’t understand")

Enter the direction which is want up or down?hello
I don’t understand

# 25.Ask how many people the user wants to invite to a party. If they enter a number below 10, ask for the names and after each name display "[name] has been invited". If they enter a number which is 10 or higher, display the message "Too many people".

In [38]:
Qus=int(input("How many people the user wants to invite to a party? "))
if(Qus<10):
  name=input("Please enter your name: ")
  print(name,"has been invited.")
else:
  print("Too many people")

How many people the user wants to invite to a party? 9
Please enter your name: Monideepa
Monideepa has been invited.

# -----FINISHED-----